<section class="product">
  <ov-thumbnail [src]="product.image" [alt]="product.title"></ov-thumbnail>
  <div class="info">
    <ov-title>{{ product.title }}</ov-title>
    <ov-price [amount]="product.price"></ov-price>
    <div class="actions">
      <ov-button
        (click)="decreaseAmount()"
        type="inverted"
        [disabled]="product.cartInfo.quantity <= product.quantity.step"
      >
        <ov-icon icon="minus"></ov-icon>
      </ov-button>
      {{ product.cartInfo.quantity }}
      <ov-button
        (click)="increaseAmount()"
        type="inverted"
        [disabled]="product.cartInfo.quantity >= product.quantity.max"
      >
        <ov-icon icon="plus"></ov-icon>
      </ov-button>
    </div>
    <div class="footer">
      Total: <ov-price [amount]="product.cartInfo.total"></ov-price>
      <ov-button (click)="remove.emit()">Delete</ov-button>
    </div>
  </div>
</section>
