[actions] {
  height: 100%;
  ov-quantity-picker {
    float: right;
  }
  display: flex;
  align-items: center;
  justify-content: flex-end;

  p {
    margin-right: var(--space-xs);
  }
}

.cart-info {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  ov-button {
    width: 40px;
  }
}
